################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/LoteriasCaixa.Api/Properties/PublishProfiles/Default Settings.pubxml.user
